    body {
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 900;
    }
    
    p {
        color: #8f8f8f;
    }
    /* Containers */
    
    .container-fluid {
        padding: 7% 15%;
    }
    /* Selectors */
    
    .colored-section {
        background-color: #ff4c68;
        color: #ffffff;
    }
    
    .white-section {
        background-color: #ffffff;
    }
    /* Headings Section */
    
    .big-heading {
        font-size: 3.5rem;
        line-height: 1.5;
    }
    
    .section-heading {
        font-size: 3rem;
        line-height: 1.5;
    }
    /* Navigation Bar */
    
    .navbar {
        padding: 0 0 5% 0;
    }
    
    .navbar-brand {
        font-family: "Ubuntu", sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .nav-item {
        padding: 0 18px;
    }
    
    .nav-link {
        font-size: 1.2rem;
        font-weight: lighter;
    }
    /* Download Buttons */
    
    .download-btn {
        margin: 5% 3% 5% 0;
    }
    /*Title*/
    
    #title .container-fluid {
        padding: 3% 10% 15%;
        text-align: left;
    }
    
    .iphone-img {
        transform: rotate(25deg);
        width: 60%;
        position: absolute;
        right: 30%;
    }
    /* Features */
    
    #features {
        position: relative;
    }
    
    .feature-title {
        font-size: 1.5rem;
    }
    
    .features-img {
        color: #ef8172;
        margin-bottom: 1rem;
    }
    
    .features-img:hover {
        color: #ff4c68;
    }
    /* Testimonials */
    
    #testimonials {
        background-color: #ef8172;
    }
    
    .testimonial-text {
        font-size: 3rem;
        line-height: 1.5;
    }
    
    .testimonial-img {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
    }
    
    #press {
        background-color: #ef8172;
        padding-bottom: 3%;
    }
    
    .press-logo {
        width: 15%;
        margin: 20px 20px 50px;
    }
    /* Pricing */
    
    #pricing {
        padding: 100px;
    }
    
    .pricing-text {
        font-size: 3rem;
        line-height: 1.5;
    }
    
    .pricing-column {
        padding: 3% 2%;
    }
    /* Footer */
    
    .footer-icon {
        padding: 2% 1%;
    }
    
    @media (max-width: 1028px) {
        #title {
            text-align: center;
        }
        .iphone-img {
            transform: rotate(0deg);
            width: 60%;
            position: static;
        }
    }